$def with ()
<!DOCTYPE html>
<html>
	<head>
		<title>FreeTube</title>
		<link rel="stylesheet" type="text/css" href="../static/skeleton.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="eight columns">
					<h1>Welcome to FreeTube</h1><br>
				</div>
			</div>
			<div class="row">
				<div class="eight columns">
					<p>Here, anyone can upload a video completely anonymously. You also can comment on videos without any account or other mumbo jumbo.</p><br>
					<br>
					<a class="button button-primary" href="upload">Upload</a>
				</div>
			</div>
		</div>
	</body>
</html>