$def with ()
<!DOCTYPE html>
<html>
	<head>
		<title>FreeTube</title>
		<link rel="stylesheet" type="text/css" href="../static/skeleton.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="eight columns">
					<h1>Welcome to FreeTube</h1><br>
				</div>
			</div>
			<div class="row">
				<div class="eight columns">
					<p>Here, anyone can upload a video completely anonymously. You also can comment on videos without any account or other mumbo jumbo.</p><br>
					<br>
					<a class="button button-primary" href="upload">Upload</a>
				</div>
				<div class="four columns">
					<img src="http://images.alansbmx.com/images/freetube.jpg" width="60%" width="60%"><br>
					<p style="text-align: center; font-size: 60%; color: grey;">logo not final</p></div>
				</div>
			</div>
		</div>
	</body>
</html>